<section>
    <div class="container mt-5">
        <h3>Cart</h3>
        <table class="table mt-5" id="productsTable">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Options</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img style="width:70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)" >+</button>
                    </td>
                    <td>
                        <button  class="cart-item-count ml-3 btn-danger" onclick="removeCartProduct('{{this._id}}','{{this.product._id}}')" >Remove</button> 
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
<hr>
<div class="float-right pr-5">
<h3 class="float-left mr-5"><i>Total: Rs.<span id="total">{{totalValue}}</span></i></h3><br>
<a href="/place-order" class=" btn btn-success mt-3" style="width=100% "><b><i>Place Order</i></b></a>
</div>
    </div>
</section>

<script>
    function changeQuantity(cartId,proId,userId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)

        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product Removed From cart")
                    location.reload()
                }else{

                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
            }
        })
    }

    function removeCartProduct(cartId,proId){
       $.ajax({
        url:'/remove-cart-product',
        data:{
                cart:cartId,
                product:proId,
             
            },
            method:'post',
             success:(response)=>{
                if(response.removeProduct){
                    alert("Are you sure to remove the product from your cart ?")
                    location.reload()
                }
            }
       }) 

    }

  $(function(){
    $('#productsTable').DataTable()
  })

</script>
<style>
    body {
  font-family: sans-serif;
}
 .tableHead{
    background-color: rgb(188, 180, 180);
    color: rgb(41, 41, 42);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }   
 th, td {
  border: 1px solid rgb(52, 51, 51);
  padding: 8px;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
	vertical-align: middle;
}
thead th {
  width: 25%;
}
.cell-highlight {
  background-color: rgb(221, 209, 145);
  font-weight: bold;
}
caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
  margin-bottom: 16px;
}
thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}
tbody th {
  background-color: rgb(150, 119, 119);
  color: rgb(3, 3, 3);
  text-align: left;
}
tbody tr:nth-child(even) th {
  background-color: rgb(200, 168, 168);
}
</style>