<div class="container mt-5">
    <div class="row">
      
      {{#each men}}
      <div class="col-md-3 p-3">
               <div class="card" style="width: 18rem; border-color: rgb(66, 65, 65); background-color: rgb(227, 232, 232);">

  <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="baby dress">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    <p class="card-text">{{this.Description}}</p>
    {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-outline-dark">ADD TO CART</a>
     --}}
     
    <button onclick="addToCart('{{this._id}}')"class="btn btn-outline-dark">Add to cart
      
    </button>
  </div>
 </div>
 </div>
 {{/each}}

      </div>
    </div>